<nav>
    <div id="logo">
        <p>BRAWL</p>
        <p>GALLERY</p>
    </div>
    
    <div id="middle">
        <a href="/" class="nav-anchor">HOME</a>
        <a href="/gallery" class="nav-anchor">GALLERY</a>
        <a href="/support" class="nav-anchor">SUPPORT</a>
    </div>

    <div id="profile">
        <img src="/images/Edgar.png">
    </div>
</nav>

<style>
    nav {
        width: 100%;
        height: 69px;
        background: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo, #profile {
        width: 60px
    }

    #profile img {
        width: 60px;
    }

    #logo p {
        font-size: 30px;
        line-height: 0;
    }
</style>