---
import react from "@astrojs/react"
import ProfileImageSelector from "../components/ProfileImageSelector.astro"
import Button from "./Button.astro"
---

<nav>
    <a href="/" style="text-decoration: none;">
        <div id="logo">
            <p style="margin-bottom: -42px; margin-left: 19px; font-size: 25px;">BRAWL</p>
            <p>GALLERY</p>
        </div>
    </a>
    
    <div id="middle">
        <a href="/" class="nav-anchor">HOME</a>
        <a href="/gallery" class="nav-anchor">GALLERY</a>
        <a href="/support" class="nav-anchor">SUPPORT</a>
    </div>

    <button id="profile-image-button">
        <div id="profile">
            <img id="profile-picture" src="/images/brawlers/Edgar.webp" alt="Favourite Brawler">
        </div>
    </button>
    
</nav>

<div class="select-profile-pic">
    <ProfileImageSelector />
    
    <Button text="GO BACK" goback="goback"/>
</div>

<style>
    nav {
        width: 100%;
        height: 69px;
        background: #fff;
        border-bottom: 5px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo, #profile {
        width: 60px
    }

    #profile img {
        width: 60px;
    }

    #logo p {
        font-size: 30px;
        text-shadow: 2px 2px 0px black;
        color: red;
    }

    #logo {
        margin-left: 20px;
    }

    #profile {
        margin-right: 20px;
    }

    .nav-anchor {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
        color: red;
    }

    #profile-image-button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .select-profile-pic {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000d;
        z-index: 1000;
        display: none;
    }
</style>

<script>
    const $profileImageButton = document.getElementById("profile-image-button")
    const $selectProfileScreen = document.querySelector(".select-profile-pic")

    $profileImageButton?.addEventListener("click", () => {
        if ($selectProfileScreen instanceof HTMLElement) {
            $selectProfileScreen.style.display = "block";
        }
    })
</script>