---
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="height=device-height" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background">
			<NavBar />
			<section class="content">
				<slot />
			</section>
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Nougat", system-ui, sans-serif;
	}

	body {
		margin: 0;
		padding: 0;
		background: radial-gradient(#AAEEB0, #32B6B0);
		background-repeat: no-repeat;
	}

	.content {
		width: 900px;
		margin: auto;
    	
	}
	
	@font-face {
		font-family: "Nougat";
		src: url("/fonts/Nougat-ExtraBlack.ttf");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	.background {
		height:100%;
		background:url(https://github.com/raharisonAina/BrawlStars/blob/main/assets/bg-pattern-on-green.png?raw=true);
		background-repeat: repeat;
		animation: animate 15s linear infinite;
	}

	@keyframes animate{
		from {
			background-position: 0 0;
		}
		to {
			background-position: 0 -128px;
		} 
	}
</style>
